<head>
    <link rel="stylesheet" href="./stylesheets/nav.css">
</head>
<div class="header">
    <img id="profile-pic" src="./image/profile.jpg" alt="My profile photo looking outside">
    <h1 class="name">Shanjai Kumar</h1>
    <li><a href="/home">Home</a></li>
    <li><a href="/bio">About</a></li>
    <li><a href="/project">Projects</a></li>
    <li><a href="/edit">Edit </a></li>
    <li><a href="/blogs">Blogs</a></li>
</div>