<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile card </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
     <link rel="stylesheet" href="./stylesheets/bio.css"> 
    
</head>


<body>
    <%- include('./partials/nav.ejs')%>
    <div class="container">
    <img src="./image/shanjai_passport.jpeg" alt="Shanjai profile picture" class="profile">
        <div class="bio">
    <h1>Hi i'm Shanjai Kumar 🥷</h1>
    <h2>Front End Developer </h2>
    <p><h1>"Turn Your Ideas into a Product 📦"</h1></p>

    <div class="icons">
        <a href="https://www.linkedin.com/in/shanjayvm/" target="_blank" ><img src="./image/linkedin-logo.png" alt="Logo of Linkedin" width="60" class="linkedin-logo"> </a>
        <a href="https://github.com/sAnju3888/" target="_blank" ><img src="./image/github_icon.png" alt="Logo of Github" width="60" class="github-logo"> </a>
        
        <a href="https://twitter.com/Shanjai_007" target="_blank" ><img src="./image/twitter.gif" alt="Logo of Twitter" width="60" class="twitter-logo"> </a>
        <a href="https://medium.com/@shanjaikumar0001" target="_blank" > <img src="./image/medium.png" alt="Logo of medium" width="60" class="medium-logo"> </a>

    </div>
    
        </div>
        
    <img src="./image/qr_code.jpg" alt="Qr code of shanjai to connect" class="qr">
    </div>
</body>

</html>
