<!-- views/notes.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/display.css">
    <title>Notes</title>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
    
    <h1><a href="new_page.html"> All Blogs </a></h1>

             
            <div id="image-container"></div>


   
    <code><%= notes %></code>
        
        
<script src="./javascript/script.js" type="module"></script>
</body>
</html>