<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="./stylesheets/index.css">
<body>
     
      <%- include('./partials/nav.ejs')%>
      
        <div class="ok">
            <div id="product" >
                <img src="./image/bruce_lee.jpg" alt="Bruce lee picture of punching" >
                <div class="quotes">
                    <h1>Empty your Mind</h1>
                    <br>
                    <h3> Be Formless Shapeless</h3>
                     <h3>like Water <span class="drop">💧</span></h3> 
                </div>
            </div>

            <!-- <div class="thumb">
                <video width="450px" height="450px" controls="controls" >
                    <source src="pic/scam_dialogue.mp4" type="video/mp4" />
                   </video>
            </div> -->
            <!-- <iframe class="thumb" src="scam_dialogue.mp4" frameborder="2" width="450px" height="280px"  allow="autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe> -->
            <div class="thumb">
                <video width="480" height="281"  controls><source src="./image/scam_dialogue.mp4" type="video/mp4" ></video>

            </div>

        </div>

    
       
<div class="main">

    <div class="a_main">
        <img id="pic_prod" src="https://i.gifer.com/7S7F.gif" alt="Product Ideas" width="400px">
        <h1>From Vision to <span>Reality</span></h1>
        <h3>Let's Build Your Business </h3>
        <h3>a Powerful Web Presence! </h3>
    </div>

    <div class="b_main">
        <img src="https://i.gifer.com/5xDL.gif" alt="Turn Into Web design" width="500px">
        <h1>Elevate Your <span>Business</span></h1>
        <h3>Above the Rest:</h3>
        <h3>Start Growing Today!!</h3>
    </div>

   
</div>

<!-- <div class="footer">

</div> -->


</body>
</html>