<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/project.css">
    <title>Projects done</title>
    
</head>
<body>

    <%- include('./partials/nav.ejs')%>
    <div class="project-cover">

        <h1 class="titl">
            <center>Projects done </center>
        </h1>
        <div class="p1">
            <img class= "farm" src="./image/p1.jpg" alt="Farming Project Thumbnail" >
            <h1><a href="https://smartvivasayi100.000webhostapp.com/" target="_blank"> Smart Farming Tool </a></h1>
            <p>Interface to Track Prices of Crops Selled and by location</p>
        </div>
    
        <br><br>


        <br><br>
        <div class="p1" id="p4">
            <img class= "farm" src="./image/folders.jpg" height="300px" alt="Chrome Extensions " >
            <h1><a href="https://github.com/sAnju3888/url_ranker"  target="_blank"> URl manager </a></h1>
            <p>Keeps Lists Of Urls With Most Recently added url at top</p>
        </div>
        <br><br>

        <br><br>
        <div class="p1" id="p4">
            <img class= "farm" src="./image/tasks.jpg" height="300px" alt="To do List " >
            <h1><a href="https://sanju3888.github.io/hash_tasks/"  target="_blank"> hash_tasks </a></h1>
            <p>It handles Lists to done by hashtags without database</p>
        </div>
        <br><br>
     


        <div class="p1" id="p2">
            <img class= "farm" src="./image/password.jpg" alt="Random Password Generator" >
            <h1><a href="https://passwords-gen.onrender.com" target="_blank"> Random Password Generator </a></h1>
            <p>Generate Your Strong passwords in Seconds</p>
        </div>
    
        <br><br>
    
        <div class="p1" id="p3">
            <img class= "farm" src="./image/time_table.png" alt="Time Table " >
            <h1><a href="https://sanju3888.github.io/timetable/" target="_blank"> Time Table </a></h1>
            <p>keep Track of Your Time Table</p>
        </div>




    </div>


</body>
</html>
