
body{
    background:rgb(225, 225, 225);
}

.titl{
    font-size:50px;
}
.farm{
    width:650px;
    margin: 0px auto;
    border-radius: 4%;
}
a{
    text-decoration: none;
    color:black;
}
.p1{
    background: white;
    width:700px;
    display:block;
    margin-left:auto;
    margin-right: auto;
    border: 5px solid grey;
    padding:35px;
    border-radius:4%;
    text-align: center;

}


